@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }

  body {
    @apply text-gray-900;
  }
}

.leaflet-container {
  font-family: inherit;
}

.custom-marker {
  background: transparent !important;
  border: none !important;
}

.temp-marker {
  background: transparent !important;
  border: none !important;
}
